In [209]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression

In [210]:
df = pd.read_excel('/Users/miriamcorona/Desktop/RA Excersice/Copy_of_RA3_Exercise.xlsx',
                  sheet_name='Sheet3')

In [211]:
print(df)

    Periods  Season                            School  Amount  Year
0         1    Fall   Blue Mountain Community College     246  2020
1         2    Fall  Central Oregon Community College    1627  2020
2         3    Fall       Chemeketa Community College    4750  2020
3         4    Fall       Clackamas Community College    5292  2020
4         5    Fall         Clatsop Community College    1365  2020
..      ...     ...                               ...     ...   ...
70       73  Spring           Oregon State University   87310  2020
71       74  Spring         Portland State University   22653  2020
72       75  Spring        Southern Oregon University   22735  2020
73       76  Spring              University of Oregon    6927  2020
74       77  Spring         Western Oregon University   19337  2020

[75 rows x 5 columns]

In [212]:
df.head()

   Periods Season                            School  Amount  Year
0        1   Fall   Blue Mountain Community College     246  2020
1        2   Fall  Central Oregon Community College    1627  2020
2        3   Fall       Chemeketa Community College    4750  2020
3        4   Fall       Clackamas Community College    5292  2020
4        5   Fall         Clatsop Community College    1365  2020

In [213]:
df.dtypes

Periods     int64
Season     object
School     object
Amount      int64
Year        int64
dtype: object

In [214]:
df.shape #| Number of rows and columns

(75, 5)

In [215]:
df.describe() #| Summary statistics for numerical columns

         Periods        Amount    Year
count  75.000000     75.000000    75.0
mean   39.000000   8561.520000  2020.0
std    22.571209  16750.525211     0.0
min     1.000000      0.000000  2020.0
25%    19.500000      0.000000  2020.0
50%    39.000000    519.000000  2020.0
75%    58.500000   7993.500000  2020.0
max    77.000000  87310.000000  2020.0

In [216]:
df.isnull().sum()

Periods    0
Season     0
School     0
Amount     0
Year       0
dtype: int64

In [217]:
new_df = pd.get_dummies(df)

In [218]:
new_df

,Periods,Amount,Year,Season_Fall,Season_Spring,Season_Winter,School_Blue Mountain Community College,School_Central Oregon Community College,School_Chemeketa Community College,School_Clackamas Community College,...,School_Portland Community College,School_Portland State University,School_Rogue Community College,School_Southern Oregon University,School_Southwestern Oregon Community College,School_Tillamook Bay Community College,School_Treasure Valley Community College,School_Umpqua Community College,School_University of Oregon,School_Western Oregon University
0,1,246,2020,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1627,2020,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,4750,2020,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,4,5292,2020,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,1365,2020,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,73,87310,2020,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71,74,22653,2020,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
72,75,22735,2020,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
73,76,6927,2020,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
74,77,19337,2020,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [219]:
new_df.columns

Index(['Periods', 'Amount', 'Year', 'Season_Fall', 'Season_Spring',
       'Season_Winter', 'School_Blue Mountain Community College',
       'School_Central Oregon Community College',
       'School_Chemeketa Community College',
       'School_Clackamas Community College',
       'School_Clatsop Community College',
       'School_Columbia Gorge Community College',
       'School_Eastern Oregon University', 'School_Klamath Community College',
       'School_Lane Community College', 'School_Linn-Benton Community College',
       'School_Mt. Hood Community College',
       'School_Oregon Coast Community College',
       'School_Oregon Health & Science University',
       'School_Oregon Institute of Technology',
       'School_Oregon State University', 'School_Portland Community College',
       'School_Portland State University', 'School_Rogue Community College',
       'School_Southern Oregon University',
       'School_Southwestern Oregon Community College',
       'School_Tillamook Bay Community College',
       'School_Treasure Valley Community College',
       'School_Umpqua Community College', 'School_University of Oregon',
       'School_Western Oregon University'],
      dtype='object')

In [220]:
new_df = new_df.drop(['Year','Periods','School_Students awarded for term'], axis=1)

KeyError: "['School_Students awarded for term'] not found in axis"

In [221]:
new_df

,Periods,Amount,Year,Season_Fall,Season_Spring,Season_Winter,School_Blue Mountain Community College,School_Central Oregon Community College,School_Chemeketa Community College,School_Clackamas Community College,...,School_Portland Community College,School_Portland State University,School_Rogue Community College,School_Southern Oregon University,School_Southwestern Oregon Community College,School_Tillamook Bay Community College,School_Treasure Valley Community College,School_Umpqua Community College,School_University of Oregon,School_Western Oregon University
0,1,246,2020,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1627,2020,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,4750,2020,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,4,5292,2020,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,1365,2020,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,73,87310,2020,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71,74,22653,2020,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
72,75,22735,2020,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
73,76,6927,2020,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
74,77,19337,2020,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [222]:
X = new_df.drop(['Amount'], axis=1)
y = new_df['Amount']

In [223]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [224]:
reg = LinearRegression()

In [225]:
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [226]:
print(reg.coef_)

[ 9.75846991e+12 -7.13824212e+14  1.61328920e+15  1.10584877e+15
  1.35956898e+15  2.06179929e+14  1.96421459e+14  1.86662989e+14
  1.76904519e+14  1.67146049e+14  1.57387579e+14  4.02859403e+13
  1.47629109e+14  1.37870639e+14  1.28112170e+14  1.18353700e+14
  1.08595230e+14  3.05274704e+13  2.07690005e+13  1.10105306e+13
  9.88367598e+13  1.25206066e+12  8.90782899e+13 -8.50640925e+12
  7.93198199e+13  6.95613500e+13  5.98028801e+13  5.00444102e+13
 -1.82648792e+13 -2.80233491e+13]

In [227]:
y_prediction =  reg.predict(x_test)
y_prediction

array([ 5632., -1792.,  4096.,  5888., -2048.,  2304.,  -768.,  5632.,
        4352., -1792., -1792., 20480., 15616.,  4864.,  4352.])

In [228]:
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
score=r2_score(y_test,y_prediction)
print('r2 socre is',score)
print('mean_sqrd_error is==',mean_squared_error(y_test,y_prediction))
print('root_mean_squared error of is==',np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 socre is 0.7076396147701207
mean_sqrd_error is== 26584335.733333334
root_mean_squared error of is== 5155.999974140161

In [229]:
intercept = reg.intercept_
coef = reg.coef_[0]
print('The intercept for our model is {:.4}'.format(intercept))
print('-'*100)



for coef in zip(X.columns, reg.coef_):
    print('The coefficient for our model {} is {:.2}'.format(coef[0],coef[1]))

The intercept for our model is 1.44e+18
----------------------------------------------------------------------------------------------------
The coefficient for our model Periods is 9.8e+12
The coefficient for our model Year is -7.1e+14
The coefficient for our model Season_Fall is 1.6e+15
The coefficient for our model Season_Spring is 1.1e+15
The coefficient for our model Season_Winter is 1.4e+15
The coefficient for our model School_Blue Mountain Community College is 2.1e+14
The coefficient for our model School_Central Oregon Community College is 2e+14
The coefficient for our model School_Chemeketa Community College is 1.9e+14
The coefficient for our model School_Clackamas Community College is 1.8e+14
The coefficient for our model School_Clatsop Community College is 1.7e+14
The coefficient for our model School_Columbia Gorge Community College is 1.6e+14
The coefficient for our model School_Eastern Oregon University is 4e+13
The coefficient for our model School_Klamath Community College is 1.5e+14
The coefficient for our model School_Lane Community College is 1.4e+14
The coefficient for our model School_Linn-Benton Community College is 1.3e+14
The coefficient for our model School_Mt. Hood Community College is 1.2e+14
The coefficient for our model School_Oregon Coast Community College is 1.1e+14
The coefficient for our model School_Oregon Health & Science University is 3.1e+13
The coefficient for our model School_Oregon Institute of Technology is 2.1e+13
The coefficient for our model School_Oregon State University is 1.1e+13
The coefficient for our model School_Portland Community College is 9.9e+13
The coefficient for our model School_Portland State University is 1.3e+12
The coefficient for our model School_Rogue Community College is 8.9e+13
The coefficient for our model School_Southern Oregon University is -8.5e+12
The coefficient for our model School_Southwestern Oregon Community College is 7.9e+13
The coefficient for our model School_Tillamook Bay Community College is 7e+13
The coefficient for our model School_Treasure Valley Community College is 6e+13
The coefficient for our model School_Umpqua Community College is 5e+13
The coefficient for our model School_University of Oregon is -1.8e+13
The coefficient for our model School_Western Oregon University is -2.8e+13

In [230]:
print(reg.intercept_)

1.4400956814761628e+18

In [231]:
print(list(zip(reg.coef_, X.columns)))

[(9758469914074.65, 'Periods'), (-713824212414240.5, 'Year'), (1613289201864929.0, 'Season_Fall'), (1105848766328656.0, 'Season_Spring'), (1359568984092883.2, 'Season_Winter'), (206179928829915.2, 'School_Blue Mountain Community College'), (196421458913450.56, 'School_Central Oregon Community College'), (186662989002406.16, 'School_Chemeketa Community College'), (176904519087063.5, 'School_Clackamas Community College'), (167146049173367.66, 'School_Clatsop Community College'), (157387579257007.5, 'School_Columbia Gorge Community College'), (40285940311304.06, 'School_Eastern Oregon University'), (147629109349255.66, 'School_Klamath Community College'), (137870639428628.39, 'School_Lane Community College'), (128112169514631.94, 'School_Linn-Benton Community College'), (118353699601319.22, 'School_Mt. Hood Community College'), (108595229687244.34, 'School_Oregon Coast Community College'), (30527470375503.703, 'School_Oregon Health & Science University'), (20769000465419.742, 'School_Oregon Institute of Technology'), (11010530604016.828, 'School_Oregon State University'), (98836759775828.28, 'School_Portland Community College'), (1252060655560.0, 'School_Portland State University'), (89078289860705.66, 'School_Rogue Community College'), (-8506409247580.766, 'School_Southern Oregon University'), (79319819943681.47, 'School_Southwestern Oregon Community College'), (69561350029606.61, 'School_Tillamook Bay Community College'), (59802880115947.67, 'School_Treasure Valley Community College'), (50044410201844.78, 'School_Umpqua Community College'), (-18264879174936.6, 'School_University of Oregon'), (-28023349091996.324, 'School_Western Oregon University')]

In [232]:

print('Intercept: \n', reg.intercept_)
print('Coefficients: \n', reg.coef_)

Intercept:
 1.4400956814761628e+18
Coefficients:
 [ 9.75846991e+12 -7.13824212e+14  1.61328920e+15  1.10584877e+15
  1.35956898e+15  2.06179929e+14  1.96421459e+14  1.86662989e+14
  1.76904519e+14  1.67146049e+14  1.57387579e+14  4.02859403e+13
  1.47629109e+14  1.37870639e+14  1.28112170e+14  1.18353700e+14
  1.08595230e+14  3.05274704e+13  2.07690005e+13  1.10105306e+13
  9.88367598e+13  1.25206066e+12  8.90782899e+13 -8.50640925e+12
  7.93198199e+13  6.95613500e+13  5.98028801e+13  5.00444102e+13
 -1.82648792e+13 -2.80233491e+13]

In [233]:
import statsmodels.api as sm


# with statsmodels
X = sm.add_constant(X) # adding a constant
 
model = sm.OLS(y, X).fit()
predictions = model.predict(X) 
 
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Amount   R-squared:                       0.756
Model:                            OLS   Adj. R-squared:                  0.624
Method:                 Least Squares   F-statistic:                     5.717
Date:                Mon, 06 Sep 2021   Prob (F-statistic):           1.03e-07
Time:                        01:08:49   Log-Likelihood:                -782.50
No. Observations:                  75   AIC:                             1619.
Df Residuals:                      48   BIC:                             1682.
Df Model:                          26
Covariance Type:            nonrobust
================================================================================================================
                                                   coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------
Periods                                        563.7545     85.508      6.593      0.000     391.828     735.681
Year                                            -6.6460      1.752     -3.793      0.000     -10.169      -3.123
Season_Fall                                   1.703e+04   2367.698      7.191      0.000    1.23e+04    2.18e+04
Season_Spring                                -1.523e+04   2367.699     -6.433      0.000      -2e+04   -1.05e+04
Season_Winter                                -1794.2811   1677.961     -1.069      0.290   -5168.047    1579.485
School_Blue Mountain Community College       -1002.7991   5569.464     -0.180      0.858   -1.22e+04    1.02e+04
School_Central Oregon Community College      -1728.8869   5609.010     -0.308      0.759    -1.3e+04    9548.784
School_Chemeketa Community College             532.6919   5644.875      0.094      0.925   -1.08e+04    1.19e+04
School_Clackamas Community College           -1159.3960   5677.129     -0.204      0.839   -1.26e+04    1.03e+04
School_Clatsop Community College             -3050.4839   5705.834     -0.535      0.595   -1.45e+04    8421.864
School_Columbia Gorge Community College      -4615.2384   5731.042     -0.805      0.425   -1.61e+04    6907.794
School_Eastern Oregon University                1.7e+04   5771.146      2.945      0.005    5392.708    2.86e+04
School_Klamath Community College              1456.6737   5752.800      0.253      0.801   -1.01e+04     1.3e+04
School_Lane Community College                -5742.7475   5771.146     -0.995      0.325   -1.73e+04    5860.919
School_Linn-Benton Community College         -6183.8353   5786.113     -1.069      0.291   -1.78e+04    5449.925
School_Mt. Hood Community College            -6827.2565   5797.728     -1.178      0.245   -1.85e+04    4829.856
School_Oregon Coast Community College        -7434.0111   5806.009     -1.280      0.207   -1.91e+04    4239.753
School_Oregon Health & Science University    -1.194e+04   5752.800     -2.076      0.043   -2.35e+04    -377.269
School_Oregon Institute of Technology        -5039.1352   5731.042     -0.879      0.384   -1.66e+04    6483.897
School_Oregon State University                4.531e+04   5705.834      7.941      0.000    3.38e+04    5.68e+04
School_Portland Community College            -4440.7656   5810.973     -0.764      0.448   -1.61e+04    7242.978
School_Portland State University              1.068e+04   5677.129      1.881      0.066    -736.278    2.21e+04
School_Rogue Community College               -7246.8535   5812.626     -1.247      0.219   -1.89e+04    4440.215
School_Southern Oregon University              2.07e+04   5644.875      3.667      0.001    9350.152     3.2e+04
School_Southwestern Oregon Community College -9125.2747   5810.973     -1.570      0.123   -2.08e+04    2558.469
School_Tillamook Bay Community College       -9689.0292   5806.009     -1.669      0.102   -2.14e+04    1984.735
School_Treasure Valley Community College     -1.025e+04   5797.728     -1.768      0.083   -2.19e+04    1404.329
School_Umpqua Community College              -1.082e+04   5786.113     -1.869      0.068   -2.25e+04     817.222
School_University of Oregon                   6749.8467   5609.010      1.203      0.235   -4527.824     1.8e+04
School_Western Oregon University              3875.0921   5569.464      0.696      0.490   -7323.067    1.51e+04
==============================================================================
Omnibus:                       78.014   Durbin-Watson:                   1.735
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1673.466
Skew:                          -2.637   Prob(JB):                         0.00
Kurtosis:                      25.532   Cond. No.                     5.08e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.19e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [234]:
print(new_df.isnull)

<bound method DataFrame.isnull of     Periods  Amount  Year  Season_Fall  Season_Spring  Season_Winter  \
0         1     246  2020            1              0              0
1         2    1627  2020            1              0              0
2         3    4750  2020            1              0              0
3         4    5292  2020            1              0              0
4         5    1365  2020            1              0              0
..      ...     ...   ...          ...            ...            ...
70       73   87310  2020            0              1              0
71       74   22653  2020            0              1              0
72       75   22735  2020            0              1              0
73       76    6927  2020            0              1              0
74       77   19337  2020            0              1              0

    School_Blue Mountain Community College  \
0                                        1
1                                        0
2                                        0
3                                        0
4                                        0
..                                     ...
70                                       0
71                                       0
72                                       0
73                                       0
74                                       0

    School_Central Oregon Community College  \
0                                         0
1                                         1
2                                         0
3                                         0
4                                         0
..                                      ...
70                                        0
71                                        0
72                                        0
73                                        0
74                                        0

    School_Chemeketa Community College  School_Clackamas Community College  \
0                                    0                                   0
1                                    0                                   0
2                                    1                                   0
3                                    0                                   1
4                                    0                                   0
..                                 ...                                 ...
70                                   0                                   0
71                                   0                                   0
72                                   0                                   0
73                                   0                                   0
74                                   0                                   0

    ...  School_Portland Community College  School_Portland State University  \
0   ...                                  0                                 0
1   ...                                  0                                 0
2   ...                                  0                                 0
3   ...                                  0                                 0
4   ...                                  0                                 0
..  ...                                ...                               ...
70  ...                                  0                                 0
71  ...                                  0                                 1
72  ...                                  0                                 0
73  ...                                  0                                 0
74  ...                                  0                                 0

    School_Rogue Community College  School_Southern Oregon University  \
0                                0                                  0
1                                0                                  0
2                                0                                  0
3                                0                                  0
4                                0                                  0
..                             ...                                ...
70                               0                                  0
71                               0                                  0
72                               0                                  1
73                               0                                  0
74                               0                                  0

    School_Southwestern Oregon Community College  \
0                                              0
1                                              0
2                                              0
3                                              0
4                                              0
..                                           ...
70                                             0
71                                             0
72                                             0
73                                             0
74                                             0

    School_Tillamook Bay Community College  \
0                                        0
1                                        0
2                                        0
3                                        0
4                                        0
..                                     ...
70                                       0
71                                       0
72                                       0
73                                       0
74                                       0

    School_Treasure Valley Community College  School_Umpqua Community College  \
0                                          0                                0
1                                          0                                0
2                                          0                                0
3                                          0                                0
4                                          0                                0
..                                       ...                              ...
70                                         0                                0
71                                         0                                0
72                                         0                                0
73                                         0                                0
74                                         0                                0

    School_University of Oregon  School_Western Oregon University
0                             0                                 0
1                             0                                 0
2                             0                                 0
3                             0                                 0
4                             0                                 0
..                          ...                               ...
70                            0                                 0
71                            0                                 0
72                            0                                 0
73                            1                                 0
74                            0                                 1

[75 rows x 31 columns]>

In [235]:
new_df.dropna(subset=['Amount'])

,Periods,Amount,Year,Season_Fall,Season_Spring,Season_Winter,School_Blue Mountain Community College,School_Central Oregon Community College,School_Chemeketa Community College,School_Clackamas Community College,...,School_Portland Community College,School_Portland State University,School_Rogue Community College,School_Southern Oregon University,School_Southwestern Oregon Community College,School_Tillamook Bay Community College,School_Treasure Valley Community College,School_Umpqua Community College,School_University of Oregon,School_Western Oregon University
0,1,246,2020,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1627,2020,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,4750,2020,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,4,5292,2020,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,1365,2020,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,73,87310,2020,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71,74,22653,2020,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
72,75,22735,2020,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
73,76,6927,2020,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
74,77,19337,2020,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [236]:
xdf = new_df[new_df.Amount != 0]

In [237]:
X = xdf.drop(['Amount'], axis=1)
y = xdf['Amount']
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
reg = LinearRegression()
reg.fit(x_train,y_train)
_prediction =  reg.predict(x_test)
y_prediction
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
#score=r2_score(y_test,y_prediction)
#print('r2 socre is',score)
#print('mean_sqrd_error is==',mean_squared_error(y_test,y_prediction))
#print('root_mean_squared error of is==',np.sqrt(mean_squared_error(y_test,y_prediction)))
      
    
intercept = reg.intercept_
coef = reg.coef_[0]
print('The intercept for our model is {:.4}'.format(intercept))
print('-'*100)



for coef in zip(X.columns, reg.coef_):
    print('The coefficient for our model {} is {:.2}'.format(coef[0],coef[1]))

The intercept for our model is -1.171e+04
----------------------------------------------------------------------------------------------------
The coefficient for our model Periods is 6.7e+02
The coefficient for our model Year is -3.6e-12
The coefficient for our model Season_Fall is 1.9e+04
The coefficient for our model Season_Spring is -2.1e+04
The coefficient for our model Season_Winter is 1.8e+03
The coefficient for our model School_Blue Mountain Community College is -5.6e+03
The coefficient for our model School_Central Oregon Community College is -5.2e+03
The coefficient for our model School_Chemeketa Community College is -4.3e+03
The coefficient for our model School_Clackamas Community College is -4e+03
The coefficient for our model School_Clatsop Community College is -7.5e+03
The coefficient for our model School_Columbia Gorge Community College is 0.0
The coefficient for our model School_Eastern Oregon University is 1.4e+04
The coefficient for our model School_Klamath Community College is -4.2e+03
The coefficient for our model School_Lane Community College is -9.1e-13
The coefficient for our model School_Linn-Benton Community College is -1.3e+04
The coefficient for our model School_Mt. Hood Community College is -1.4e+04
The coefficient for our model School_Oregon Coast Community College is 0.0
The coefficient for our model School_Oregon Health & Science University is -9.1e-13
The coefficient for our model School_Oregon Institute of Technology is -8.2e+03
The coefficient for our model School_Oregon State University is 6.7e+04
The coefficient for our model School_Portland Community College is -1e+04
The coefficient for our model School_Portland State University is 0.0
The coefficient for our model School_Rogue Community College is -1.5e+04
The coefficient for our model School_Southern Oregon University is 1.4e+04
The coefficient for our model School_Southwestern Oregon Community College is 0.0
The coefficient for our model School_Tillamook Bay Community College is 0.0
The coefficient for our model School_Treasure Valley Community College is 0.0
The coefficient for our model School_Umpqua Community College is 0.0
The coefficient for our model School_University of Oregon is -2.7e+02
The coefficient for our model School_Western Oregon University is -3.2e+03

In [238]:
import statsmodels.api as sm


# with statsmodels
X = sm.add_constant(X) # adding a constant
 
model = sm.OLS(y, X).fit()
predictions = model.predict(X) 
 
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Amount   R-squared:                       0.707
Model:                            OLS   Adj. R-squared:                  0.488
Method:                 Least Squares   F-statistic:                     3.224
Date:                Mon, 06 Sep 2021   Prob (F-statistic):            0.00410
Time:                        01:08:54   Log-Likelihood:                -459.77
No. Observations:                  43   AIC:                             957.5
Df Residuals:                      24   BIC:                             991.0
Df Model:                          18
Covariance Type:            nonrobust
================================================================================================================
                                                   coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------------------------
Periods                                        601.0438    130.349      4.611      0.000     332.018     870.070
Year                                            -5.3244      2.833     -1.879      0.072     -11.172       0.524
Season_Fall                                   1.949e+04   3852.717      5.058      0.000    1.15e+04    2.74e+04
Season_Spring                                -1.661e+04   3721.920     -4.462      0.000   -2.43e+04   -8927.262
Season_Winter                                -2879.8708   3397.752     -0.848      0.405   -9892.486    4132.744
School_Blue Mountain Community College       -4679.1272   7778.824     -0.602      0.553   -2.07e+04    1.14e+04
School_Central Oregon Community College      -6566.7727   9490.627     -0.692      0.496   -2.62e+04     1.3e+04
School_Chemeketa Community College           -3218.2149   7876.481     -0.409      0.686   -1.95e+04     1.3e+04
School_Clackamas Community College           -5223.3604   9621.941     -0.543      0.592   -2.51e+04    1.46e+04
School_Clatsop Community College             -6875.9692   7954.348     -0.864      0.396   -2.33e+04    9540.998
School_Columbia Gorge Community College      -3.982e-10   1.24e-09     -0.321      0.751   -2.96e-09    2.16e-09
School_Eastern Oregon University              1.269e+04   8004.087      1.585      0.126   -3833.496    2.92e+04
School_Klamath Community College             -2443.3902   8013.001     -0.305      0.763    -1.9e+04    1.41e+04
School_Lane Community College                 2.549e-09   1.86e-09      1.372      0.183   -1.29e-09    6.38e-09
School_Linn-Benton Community College         -1.377e+04   1.38e+04     -0.995      0.330   -4.24e+04    1.48e+04
School_Mt. Hood Community College            -7873.3184    1.4e+04     -0.562      0.579   -3.68e+04    2.11e+04
School_Oregon Coast Community College         5.342e-10   9.64e-10      0.554      0.585   -1.46e-09    2.52e-09
School_Oregon Health & Science University     2.943e-09   2.11e-09      1.393      0.176   -1.42e-09     7.3e-09
School_Oregon Institute of Technology        -7129.5616   9706.733     -0.734      0.470   -2.72e+04    1.29e+04
School_Oregon State University                4.089e+04   7903.901      5.173      0.000    2.46e+04    5.72e+04
School_Portland Community College            -8527.2760   8077.987     -1.056      0.302   -2.52e+04    8144.869
School_Portland State University              6218.9524   7860.810      0.791      0.437      -1e+04    2.24e+04
School_Rogue Community College                -1.12e+04   9865.037     -1.136      0.267   -3.16e+04    9156.222
School_Southern Oregon University              1.62e+04   7812.744      2.074      0.049      78.532    3.23e+04
School_Southwestern Oregon Community College          0          0        nan        nan           0           0
School_Tillamook Bay Community College                0          0        nan        nan           0           0
School_Treasure Valley Community College              0          0        nan        nan           0           0
School_Umpqua Community College                       0          0        nan        nan           0           0
School_University of Oregon                   2215.8647   7759.611      0.286      0.778   -1.38e+04    1.82e+04
School_Western Oregon University              -696.1791   7701.306     -0.090      0.929   -1.66e+04    1.52e+04
==============================================================================
Omnibus:                       40.884   Durbin-Watson:                   2.152
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              270.476
Skew:                          -1.944   Prob(JB):                     1.85e-59
Kurtosis:                      14.656   Cond. No.                     1.02e+19
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.7e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/Users/miriamcorona/opt/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:1362: RuntimeWarning: invalid value encountered in true_divide
  return self.params / self.bse
/Users/miriamcorona/opt/anaconda3/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:2039: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= _a)

In [239]:
xdf.columns

Index(['Periods', 'Amount', 'Year', 'Season_Fall', 'Season_Spring',
       'Season_Winter', 'School_Blue Mountain Community College',
       'School_Central Oregon Community College',
       'School_Chemeketa Community College',
       'School_Clackamas Community College',
       'School_Clatsop Community College',
       'School_Columbia Gorge Community College',
       'School_Eastern Oregon University', 'School_Klamath Community College',
       'School_Lane Community College', 'School_Linn-Benton Community College',
       'School_Mt. Hood Community College',
       'School_Oregon Coast Community College',
       'School_Oregon Health & Science University',
       'School_Oregon Institute of Technology',
       'School_Oregon State University', 'School_Portland Community College',
       'School_Portland State University', 'School_Rogue Community College',
       'School_Southern Oregon University',
       'School_Southwestern Oregon Community College',
       'School_Tillamook Bay Community College',
       'School_Treasure Valley Community College',
       'School_Umpqua Community College', 'School_University of Oregon',
       'School_Western Oregon University'],
      dtype='object')